*{box-sizing: border-box;
    font-family: Tahoma;
    background: white;
    margin: 0%;
    padding: 0.2%;}
.row::after{
    content: '';
    clear: both;
    display: table;}
[class*='col-']{float: left}

/*for phone*/
[class*='col-']{width: 100%}

/*for table*/
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}}
/*for desktop*/
@media only screen and (min-width: 768px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}}
.header .logo img{width: 30%; height: auto;}
.header .search {padding: 3%;}
.header .search input{border: solid 1px black; padding: 0.5%; width: 45%; box-shadow:2px 2px #adad85;}
.block {padding-right: 5%; padding-left: 5%; }
.block .title:hover{color: red}
.block .thumb :hover{}
.block .thumb {width: 100%; height: 170px; background-size: cover;}
.block .title {text-align: center;}
.footer{text-align: center; color: black; padding: 3%}

